QLabel#Title {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

QLabel#SectionHeader {
    color: red;
    font-size: 80px;
    font-weight: bold;
    margin-top: 20px;
}


QTableWidget {
    background-color: white;
    border: 1px solid #b3b3b3;
    gridline-color: #c0c0c0;
    font-size: 24px;
}

QTableWidget::item {
    padding: 6px;
}

QHeaderView::section {
    background-color: #002F6C;
    color: white;
    padding: 6px;
    font-size 27px;
    font-weight: bold;
}

QTableWidget QHeaderView::section:horizontal {
    font-size:20px;
}

